/**
* index.scss
* - Add any stylespxt here!
*/
body {
  background: #f1f1f1;
}

.bg-blue {
  background: #2f2d98;
}

.list-item-input {
  width: 77px;
  padding: 5px 7px;
  border: 1px solid gray;
  display: block;
  margin-right: 1rem;
  font-size: 0.75rem;
  border-radius: 4px;
}

.list-item-input:last-child {
  margin-right: 0rem;
}

@media (max-width: 768px) {
  .item-col-half .list-item-input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .item-col-third .list-item-input {
    width: 100%;
  }
}

.item-col:first-child .list-item-input {
  width: 130px;
}

@media (max-width: 768px) {
  .item-col:first-child .list-item-input {
    width: 100%;
  }
}

.list-item {
  background: #e9e9e9;
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

input[type="radio"]:checked ~ i {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.15);
}

.has-cursor {
  cursor: pointer;
}

/* Has White Bottom Border*/
.h-w-b-b {
  border-bottom: 1px solid #ccc;
}

.line {
  height: 1px;
  border: 1px solid rgba(204, 204, 204, 0.28);
}

.package-chooser {
  width: 150px;
  display: block;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.package-chooser .vs__search::placeholder,
.package-chooser .vs__dropdown-toggle,
.package-chooser .vs__dropdown-menu {
  background: #ffffff;
  border-color: gray;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 0.75rem;
}

.package-chooser .vs__clear,
.package-chooser .vs__open-indicator {
  fill: #eeeeee;
}

.vs__selected-options {
  flex-wrap: nowrap;
}

.package-total {
  padding-left: 0.5rem
}

.package-total .label {
  width: 150px;
  margin-right: 1rem;
  font-weight: 600;
  font-size: medium;
}

.package-total .quantity {
  width: 77px;
  text-align: center;
  margin-right: 1rem;
  font-weight: 600;
  font-size: medium;
}

.package-total .weight {
  width: 77px;
  text-align: center;
  font-weight: 600;
  font-size: medium;
}