body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #747474;
}

* {
  box-sizing: border-box;
}

#app {
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main-header {
  background: rgba(28, 28, 28, 0.95);
  padding: 0 2rem;
}
@media (max-width: 769px) {
  .main-header {
    padding: 0;
  }
}

.top-bar {
  padding: 1rem 0;
}
.top-bar .block {
  text-align: right;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.top-bar .block a {
  color: #fff;
  display: inline-block;
  margin-right: 2rem;
}
.top-bar .block a i {
  margin-right: 0.5rem;
}
.top-bar .block a span:hover {
  color: #ededed;
}
.top-bar .block .social a {
  margin-right: 0.5rem;
}
.top-bar .block .social a:last-child {
  margin-right: 0;
}
@media (max-width: 769px) {
  .top-bar {
    display: none;
  }
}

.main-nav {
  height: 90px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
}
@media (max-width: 769px) {
  .main-nav {
    height: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
.main-nav .nav-brand {
  width: 20%;
  display: inline-block;
  align-self: flex-start;
}
@media (max-width: 769px) {
  .main-nav .nav-brand {
    width: auto;
  }
}
.main-nav .nav-brand img {
  max-height: 125px;
  border: 2px solid #ffffff;
}
@media (max-width: 769px) {
  .main-nav .nav-brand img {
    width: 80px;
    vertical-align: bottom;
  }
}

.nav-menu-center {
  width: 55%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 769px) {
  .nav-menu-center {
    text-align: left;
  }
}
.nav-menu-center li {
  display: inline-block;
  padding: 0 10px 0 10px;
}
.nav-menu-center li a {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
.nav-menu-center li a:hover {
  background: #f26d22;
}
@media (max-width: 769px) {
  .nav-menu-center {
    width: 100%;
    position: absolute;
    top: 100%;
    background: rgba(28, 28, 28, 0.95);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .nav-menu-center li {
    display: block;
    padding: 0;
    margin-bottom: 0.5rem;
  }
  .nav-menu-center li:first-child {
    margin-top: 0.5rem;
  }
  .nav-menu-center li a {
    display: block;
  }
}

.nav-menu-right {
  margin-left: auto;
}
.nav-menu-right .menu-item-btn {
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: #f26d22;
  border: 1px solid #f26d22;
  padding: 10px 25px;
  color: #ffffff;
  font-size: 0.875rem;
  border-radius: 40px;
  margin-right: 1rem;
}
.nav-menu-right .menu-item-btn:hover {
  background-color: #d45c18;
}
.nav-menu-right .menu-item-btn:last-child {
  margin-right: 0;
}
@media (max-width: 769px) {
  .nav-menu-right {
    display: none;
  }
}

.banner {
  position: relative;
}
.banner .banner-wrapper .desktop-banner {
  display: block;
}
.banner .banner-wrapper .mobile-banner {
  display: none;
}
@media (max-width: 769px) {
  .banner .banner-wrapper .desktop-banner {
    display: none;
  }
  .banner .banner-wrapper .mobile-banner {
    display: block;
  }
}

.container {
  width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 769px) {
  .container {
    padding: 0 1rem;
  }
}

.note {
  background: #eee;
  padding: 1rem 0;
}
.note p {
  text-align: center;
  line-height: 1.7;
  margin: 0;
  font-size: 0.875rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 769px) {
  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.section-title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #f26d22;
  text-align: center;
}
@media (max-width: 769px) {
  .section-title {
    font-size: 1.2rem;
  }
}

.p-after-section-title {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media (max-width: 769px) {
  .p-after-section-title {
    font-size: 1rem;
  }
}

.text-img-col {
  display: -webkit-box;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
  align-items: center;
}
.text-img-col .img-col {
  width: 45%;
  height: 320px;
  position: relative;
  margin-right: 1rem;
}
@media (max-width: 769px) {
  .text-img-col .img-col {
    display: none;
  }
}
.text-img-col .img-col .bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/code-moran-cl-ltd/image/upload/v1602236252/Kava/faqs-bg-image-1.jpg");
}
.text-img-col .img-col img {
  display: none;
}
.text-img-col .text-col {
  padding-left: 2rem;
}
@media (max-width: 769px) {
  .text-img-col .text-col {
    padding-left: 0;
  }
}
.text-img-col .text-col ul li {
  margin-bottom: 1rem;
}

.text-block {
  padding-top: 0.5rem;
}
.text-block ul {
  margin-top: 0;
}
.text-block ul li {
  margin-bottom: 1rem;
}
.text-block .cta-wrapper {
  padding-top: 2rem;
}
.text-block .cta-wrapper .cta-btn {
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: #f26d22;
  border: 1px solid #f26d22;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 1rem;
  width: 250px;
  max-width: 100%;
  text-align: center;
}

.last-section {
  padding-bottom: 4rem;
}

.tcs-links {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
}
.tcs-links a {
  color: #444;
}

.menu-button {
  display: none;
  padding-right: 1rem;
}
@media (max-width: 769px) {
  .menu-button {
    display: inline-block;
  }
}
.menu-button .harmbuger {
  cursor: pointer;
  width: 35px;
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: no-repeat;
  outline: none;
  border: none;
  position: relative;
}
.menu-button .harmbuger span {
  margin: 5px 0;
  background: #e5e5e5;
  display: block;
  width: 100%;
  height: 2px;
}

@media (max-width: 769px) {
  .main-nav.menu-open .nav-menu-center {
    opacity: 1;
    pointer-events: all;
  }
  .main-nav.menu-open .menu-button .harmbuger span.bar-1 {
    margin: 11px 0 0 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .main-nav.menu-open .menu-button .harmbuger span.bar-2 {
    display: none;
  }
  .main-nav.menu-open .menu-button .harmbuger span.bar-3 {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin: -3px 0 0;
  }
}

@media (max-width: 769px) {
  section.features {
    padding-bottom: 0;
  }
}

.card-section {
}

.card-section .container {
}

.card-section .container .card-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 769px) {
  .card-section .container .card-wrapper {
    flex-wrap: wrap;
  }
}

.card-section .container .card-wrapper .card-item {
  width: 25%;
  padding: 1rem;
}

@media (max-width: 769px) {
  .card-section .container .card-wrapper .card-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.card-section .container .card-wrapper .card-item .inner {
  background-color: #ffffff;
  box-shadow: 0px 3px 12px 1px rgba(61, 61, 61, 0.13);
  height: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 250px;
  border-bottom: 4px solid #f26d22;
}

.card-section .container .card-wrapper .card-item:nth-child(3) .inner {
  border-color: #ffd401;
}

.card-section .container .card-wrapper .card-item .card-header {
  text-align: center;
}

.card-section .container .card-wrapper .card-item .card-header .icon {
  width: 75px;
  margin: 0 auto;
}

.card-section .container .card-wrapper .card-item h4 {
  text-align: center;
}

.card-section .container .card-wrapper .card-item p {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.4;
}

.faqs-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.faqs-section .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e9e2cb;
}

.faqs-section .container .section-title {
  color: #5e5e5e;
  text-align: left;
  display: flex;
  align-items: center;
}

.faqs-section .container .section-title > span:first-child {
  content: "";
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f26502;
  color: #fff;
  font-weight: 200;
  border-radius: 4px;
  padding-top: 1px;
  vertical-align: bottom;
  margin-right: 1rem;
}

.faqs-section .container .text-block h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f26d22;
  margin-top: 1rem;    
  margin-bottom: 1.3rem;
}

.faqs-section .container .text-block p {
  padding-left: 1rem;
  line-height: 1.5;
}

.tcs-links a {
  color: #f26d22;
}

.why-kava {
  padding-bottom: 0;
}

.why-kava .section-title {
  margin-bottom: 2rem;
}

.why-kava-col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  min-height: 240px;

  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .why-kava-col {
    min-height: auto;
    display: block;
    padding-bottom: 0;
  }
}

.why-kava-col .container > div {
  width: 50%;
  margin-left: auto;
  padding-left: 1.5rem;
}

@media (max-width: 769px) {
  .why-kava-col .container > div {
    width: 100%;
    padding-left: 0;
    padding-right: 0;    
    padding-bottom: 1rem;
  }
}

.why-kava-col .container > div h4 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.why-kava-col .container > div p {
  line-height: 1.4;
}

.why-kava-col::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #f26d22;
  background-image: url('https://res.cloudinary.com/code-moran-cl-ltd/image/upload/v1617300797/Kava/majani.jpg');
  background-size: cover;
  background-position-y: -30px;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  .why-kava-col::after {
    position: relative;
    width: 100%;
    height: 250px;
    display: block;
    background-position-y: unset;
  }
}

.why-kava-col.bg-right {
  background-color: #f26d22;
}

.why-kava-col.bg-right .container > div {  
  margin-right: auto;
  margin-left: 0;
  padding-right: 1.5rem;
}

.why-kava-col.bg-right .container > div h4 {
  color: #ffffff;
}

.why-kava-col.bg-right::after {
  right: 0;
  background-image: url('https://res.cloudinary.com/code-moran-cl-ltd/image/upload/v1617300797/Kava/soko.jpg');
}

footer {
  background: #2E2822;
  padding: 2rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 769px) {
  footer .container {
    flex-wrap: wrap;
  }
}

footer .f-col {
  width: 33.333%;
  padding: 1.5rem;
}

@media (max-width: 769px) {
  footer .f-col {
    width: 100%;
    padding: 0;
  }
}

footer h4 {
  color: #f26d22;
}

footer h4._inner {
  margin-top: 2rem;
}

footer .img-wrapper img {
  width: 150px;
}

footer p, a {
  color: #FFFFFF;
  font-size: 0.85rem;
  line-height: 1.5;
}

footer .links a {
  display: block;
  margin-bottom: 0.5rem;
}

footer .links a .fas {
  color: #f26d22;
}

footer .links.contacts a .fas{
  color: #FFFFFF;
}

footer .links a span {
  display: inline-block;
  margin-left: 0.2rem;
}

footer .social-links a {
  margin-right: 0.8rem;
  font-size: 1rem;
}

.banner.new {
  position: relative;
  min-height: 100vh;
}

@media (max-width: 769px) {
  .banner.new {
    min-height: auto;
  }
}

.banner.new .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/code-moran-cl-ltd/image/upload/v1617307878/Kava/banner-plain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  .banner.new .bg {
    background-position: center;
  }
}

.banner.new .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 769px) {
  .banner.new .container {
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

.banner .text-col .heading-wrapper h1 {
  color: #2f3031;
  font-size: 3.5rem;
}

@media (max-width: 769px) {
  .banner .text-col .heading-wrapper h1 {
    font-size: 2rem;
  }
}

.banner .text-col .list-wrapper {
  margin-bottom: 2.5rem;
}

.banner .text-col .list-wrapper .list-item {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner .text-col .list-wrapper .list-item img {
  width: 28px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

@media (max-width: 769px) {
  .banner .text-col .list-wrapper .list-item img {
    width: 16px;
  }
}


.banner .text-col .list-wrapper .list-item span {
  font-size: 1.6rem;
  color: #2f3031;
  font-weight: 700;
  display: inline-block;
}

@media (max-width: 769px) {
  .banner .text-col .list-wrapper .list-item span {
    font-size: 1rem;
  }
}

.actions {
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .actions {
    display: block;
  }
}

.actions {
  color: #fff;
}

.actions strong {
  font-weight: 600;
}

.actions img {
  width: 230px;
}

@media (max-width: 769px) {
  .actions img {
    width: 150px;
    margin-bottom: 1rem;
  }
}

.actions .line {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (max-width: 769px) {
  .actions .line {
    display: none;
  }
}


.banner .img-col img {
    width: auto;
    max-height: calc(100vh - 100px);
}

@media (max-width: 769px) {
  .banner .img-col {
    display: none;
  }
}